.chat-window {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

/* Hide the scrollbar */
.chat-window::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.chat-window::-moz-scrollbar {
  /* Mozilla */
  width: 0;
  height: 0;
}
/**********/

.messages-h2 {
  background: linear-gradient(40deg, #00379f, rgb(127, 236, 255), #00379f);
  color: white;
  padding: 1em;
  font-size: 1.5em;
  position: sticky;
  top: 0;
  z-index: 5;
  border-top-right-radius: 10px;
}

.unread {
  font-size: 0.5em;
  text-transform: uppercase;
  color: aquamarine;
  /* position to the right */
  position: absolute;
  right: 1em;
  /* center vertically */
  top: 50%;
  transform: translateY(-50%);
}
