.bubble {
  display: inline-block;
  margin: 1em auto;
  padding: 1em;
  border-radius: 30px;
  max-width: calc(100% - 5em);
  vertical-align: middle;
  background: linear-gradient(217deg, rgb(1, 252, 168), aquamarine);
  word-break: break-word;
}
