.sidebar {
  display: grid;
  align-items: stretch;
  grid-row: 1/3;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.users-h2 {
  padding: 1em;
  font-size: 1.5em;
}

.user {
  list-style-type: none;
  padding: 1em;
  padding-left: 0;
  cursor: default;
  position: relative;
}

.user > svg {
  font-size: 35px;
  vertical-align: middle;
  margin-left: 1rem;
}

.activeUser::before {
  content: "";
  display: inline-block;
  background-color: #42a5f5;
  width: 5px;
  position: absolute;
  top: 10%;
  bottom: 10%;
}
