.input {
  width: 100%;
  height: auto;
  cursor: auto;
  padding: 2em;
  font-size: 1rem;
  border: 0;
  border-radius: 10px;
  caret-color: #00379f;
}

.span {
  padding: 1em;
}

.span::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  height: 3px;
  color: #00379f;
  background: #00379f;
}
