.sidebar {
  display: grid;
  align-items: stretch;
  grid-row: 1/3;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.users-h2 {
  padding: 1em;
  font-size: 1.5em;
}

.user {
  list-style-type: none;
  padding: 1em;
  cursor: default;
}

.user > svg {
  font-size: 35px;
  vertical-align: middle;
}
